<p id="notice"><%= notice %></p>

<h1>Soils</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Quote</th>
      <th>Weight</th>
      <th>Pick up adress</th>
      <th>Soil type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @soils.each do |soil| %>
      <tr>
        <td><%= soil.company %></td>
        <td><%= soil.quote %></td>
        <td><%= soil.weight %></td>
        <td><%= soil.pick_up_adress %></td>
        <td><%= soil.soil_type %></td>
        <td><%= link_to 'Show', soil %></td>
        <td><%= link_to 'Edit', edit_soil_path(soil) %></td>
        <td><%= link_to 'Destroy', soil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Soil', new_soil_path %>
