<p id="notice"><%= notice %></p>
<br>
<br>
<h1>Currently Listed</h1>

<table>

  <tbody>
    <% @soils.each do |soil| %>
      <tr>
        <td><%= soil.company %></td>
        <td><%= soil.quote %></td>
        <td><%= soil.weight %></td>
        <td><%= soil.pick_up_adress %></td>
        <td><%= soil.soil_type %></td>
        <td><%= link_to 'Show', soil %></td>
        <td><%= link_to 'Edit', edit_soil_path(soil) %></td>
        <td><%= link_to 'Destroy', soil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button><strong><%= link_to 'Create a Quote', new_soil_path %><strong><button>
