<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @soil.company %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @soil.quote %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @soil.weight %>
</p>

<p>
  <strong>Pick up adress:</strong>
  <%= @soil.pick_up_adress %>
</p>

<p>
  <strong>Soil type:</strong>
  <%= @soil.soil_type %>
</p>

<%= link_to 'Edit', edit_soil_path(@soil) %> |
<%= link_to 'Buy', new_charge_path %>


<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $<%= @soil.quote %></span>
    </label>
    <label class="3% commission">
      <span>plus: $<%= @soil.quote * 0.05 %></span>
    </label>
    <label class="Total">
      <span>plus: $<%= @soil.quote + (@soil.quote * 0.05) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @soil.quote * 100 + (@soil.quote * 100 * 0.05)%>"
          data-locale="auto"></script>
<% end %>
