<p id="notice"><%= notice %></p>

<br><br>
<h1 align="center">Eco Friendly Prices for Dirt and Soil</h1><br></br>


    <% @soils.each do |soil| %>
<div align="center">
    <div class="card mb-3">
      <%= image_tag ("/assets/map_hackethon.gif"), class: "card-img-top"%>
      <div class="card-body">
        <h5 class="card-title">Pick Up At<br><strong><%= soil.pick_up_adress %><strong></h5>
        <p class="card-text"><button><%= link_to 'Buy', soil %></button></p>
        <p class="card-text"><small class="text-muted">
          <td><strong>Quote: $<%= soil.quote %></strong></td><br>
          <td>Soil Type: <%= soil.soil_type %></td><br>
          <td>Weight: <%= soil.weight %> tons</td><br>
        </small></p><br><br>
      </div>
    </div>
</div>
    <% end %>


<br>
